/* default */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;
}

body {
  font-family: 'Noto Sans KR', serif;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 6rem;
  line-height: 8rem;
}

h2 {
  font-size: 4rem;
  line-height: 5rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* main */

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #6F7D8F;
  display: flex;
}

.main-txt {
  padding-top: 10%;
  color: #201E3E;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 5%;
  z-index: 1;
}

.main-txt h2 {
  color: #6F7D8F;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  border-bottom: 5px solid #fff;
}

.main-txt p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-top: 3rem;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #F6F8C5;
  width: 35vmax;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }

  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }

  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }

  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  100% {
    transform: scale(1) translate(10px, -30px);
  }
}
