/* default */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid silver;
}

img {
  width: 100px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #999;
  letter-spacing: 0.1px;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

h4, h5 {
  font-family: 'Playfair Display', serif;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

h5 {
  font-size: 0.7rem;
  line-height: 0.7rem;
}

a:link {
  color: #666;
  text-decoration: none;
}

a:visited {
  color: #666;
}

a:hover {
  color: red;
}

a:active {
  color: red;
}

button {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #ccc;
  background: white;
  transition: 0.3s;
}

button:hover {
  background: crimson;
  color: white;
  cursor: pointer;
}

/* mobile start */
main {
  position: relative;
  height: 600px;
  background: url('https://images.unsplash.com/photo-1445384763658-0400939829cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
  background-size: cover;
  background-position: top left;
  color: white;
}

header {
  position: relative;
}

header div a {
  float: left;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem 10%;
}

header div a:link, a:visited {
  color: white;
}

header span {
  float: right;
  color: white;
  font-size: 3rem;
  margin: 2rem 10%;
  cursor: pointer;
}

header nav {
  position: absolute;
  width: 0%;
  height: 100vh;
  background: rgba(40, 0, 0, 0.8);
  overflow-x: hidden;
  z-index: 1;
  transition: 0.3s;
}

nav :first-child {
  float: right;
  font-size: 2rem;
  margin: 2rem 10%;
  cursor: pointer;
}

nav a:link:first-child {
  color: white;
}

nav a:not(:first-child) {
  clear: both;
  color: white;
  display: block;
  padding: 1.4rem;
  text-align: center;
}

nav a:link {
  color: white;
}

nav a:not(:first-child):hover {
  background: crimson;
  color: white;
}

main>div {
  position: absolute;
  background: none;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main div p {
  padding: 2rem;
}

.get-text {
  padding: 5rem 10%;
  text-align: center;
}

.get-text img {
  width: 80px;
  filter: grayscale(100%);
  opacity: 0.4;
  margin: 0.1rem 2%;
}

.get-text img:hover {
  opacity: 1.0;
}

.get-text>:last-child {
  margin-top: 2rem;
}

.get {
  height: 500px;
  background: url('https://images.unsplash.com/photo-1500907789384-0c3b4c3bdce4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

.get>div {
  float: right;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  padding: 5rem 10%;
  transition: 0.8s;
}

.get>div:hover {
  background: rgba(0, 0, 0, 0.8);
}

.get div div {
  display: none;
}

.bespoke-text {
  padding: 5rem 10%;
  text-align: center;
}

.bespoke section {
  height: 500px;
}

.bespoke> :nth-child(1) {
  background: url('https://images.unsplash.com/photo-1545912453-3d32e20f72bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80') no-repeat;
  background-size: cover;
  background-position: center center;
}

.bespoke> :nth-child(2) {
  background: url('https://images.unsplash.com/photo-1513207565459-d7f36bfa1222?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=635&q=80') no-repeat;
  background-size: cover;
  background-position: center center;
}

.bespoke> :nth-child(3) {
  background: url('https://images.unsplash.com/photo-1484399172022-72a90b12e3c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
  background-size: cover;
  background-position: center center;
}

.bespoke section div {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.8s;
}

.bespoke section div:hover {
  background: rgba(0, 0, 0, 0.6);
}

.bespoke section h3 {
  color: white;
  text-align: center;
  padding: 4rem 0 0 0;
}

.bespoke section div button {
  position: absolute;
  background: none;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.design-text {
  padding: 5rem 10%;
  text-align: center;
}

.design section {
  height: 200px;
}

.design> :nth-child(1) {
  background: url('https://images.unsplash.com/photo-1462804993656-fac4ff489837?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
  background-size: cover;
  background-position: top center;
}

.design> :nth-child(2) {
  background: url(https://images.unsplash.com/photo-1438109491414-7198515b166b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat;
  background-size: cover;
  background-position: top center;
}

.design> :nth-child(3) {
  background: url(https://images.unsplash.com/photo-1567468219153-4b1dea5227ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat;
  background-size: cover;
  background-position: center center;
}

.design> :nth-child(4) {
  background: url(https://images.unsplash.com/photo-1560748526-881455a4e9b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat;
  background-size: cover;
  background-position: top center;
}

.design section div {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.8s;
}

.design section div:hover {
  background: rgba(0, 0, 0, 0.6);
}

.design section div button {
  position: absolute;
  background: none;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.greetings {
  position: relative;
  padding: 5rem 10%;
  text-align: center;
}

.greetings> :nth-child(1), .greetings> :nth-child(2) {
  position: absolute;
  font-size: 2rem;
  padding: 0.8rem;
  top: 45%;
  cursor: pointer;
}

.greetings> :nth-child(1) {
  left: 10%;
}

.greetings> :nth-child(2) {
  right: 10%;
}

.greetings> :nth-child(1):hover, .greetings> :nth-child(2):hover {
  background: crimson;
  color: white;
}

.greetings div img {
  width: 80px;
  opacity: 0.4;
  margin: 0.1rem 2%;
  transition: 0.8s;
}

.greetings div img:hover {
  opacity: 1.0;
}

.event {
  display: none;
}

footer {
  padding: 5rem 10%;
  background: #222;
}

footer h2 {
  color: #aaa;
}

footer form div {
  padding: 0.5rem 0;
}

footer form div label {
  display: block;
  line-height: 2.4rem;
}

footer form div input {
  width: 240px;
  padding: 0.6rem;
}

footer form div textarea {
  width: 240px;
  padding: 0.6rem;
  height: 6rem;
}

footer form div button {
  width: 240px;
}

address {
  padding: 5rem 10%;
  background: #333;
}

address h2 {
  color: #aaa;
}

/* labtop start */
@media screen and (min-width: 600px) {
  main {
    height: 800px;
  }

  .get {
    height: 800px;
  }

  .get div div {
    display: block;
  }

  .bespoke section {
    height: 600px;
    float: left;
  }

  .bespoke> :nth-child(1) {
    width: 33%;
  }

  .bespoke> :nth-child(2) {
    width: 34%;
  }

  .bespoke> :nth-child(3) {
    width: 33%;
  }

  .design-text {
    clear: both;
  }

  .design section {
    height: 400px;
    width: 50%;
    float: left;
  }

  .greetings {
    clear: both;
  }

  .event {
    display: block;
    background: #eee;
    padding: 5rem 0;
  }

  .event h2 {
    text-align: center;
  }

  .event table {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    border-collapse: collapse;
  }

  .event tr:hover {
    background: white;
    cursor: pointer;
  }

  .event th, td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }

  footer div {
    width: 1000px;
    margin: 0 auto;
  }

  address div {
    width: 1000px;
    margin: 0 auto;
  }
