/* default */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  color: #444;
  line-height: 1rem;
  letter-spacing: 0.1px;
}

h1, h2 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}

h3, h4, h5 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #444;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

h5 {
  font-size: 0.9rem;
  line-height: 1rem;
}

ul {
  list-style: none;
}

button {
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #ccc;
  color: #444;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

span {
  color: #87ceeb;
}

/* mobile */
header {
  min-width: 360px;
  height: 100px;
  margin: 0 auto;
  padding: 1rem 30px;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 120px;
  height: 50px;
}

header nav ul {
  display: none;
}

main img {
  width: 100%;
  min-width: 360px;
  box-sizing: border-box;
}

.product {
  padding: 3rem 0;
}

.product section {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 1rem auto;
  text-align: center;
}

.product section div {
  width: 100%;
  margin: 0 1rem;
  cursor: pointer;
}

.product img {
  width: 80px;
  margin: 0 1rem;
  cursor: pointer;
}

.product p {
  text-align: center;
  padding: 1rem 0;
  color: #444;
}

.product section> :nth-child(2) img, .product section> :nth-child(3) img, .product section> :nth-child(4) img, .product section> :nth-child(5) img {
  filter: grayscale(1.0);
  opacity: 0.4;
}

.product section> :nth-child(2) img:hover, .product section> :nth-child(3) img:hover, .product section> :nth-child(4) img:hover, .product section> :nth-child(5) img:hover {
  filter: grayscale(0);
  opacity: 1.0;
}

.story {
  position: relative;
  margin: 1rem auto;
}

.story section> :nth-child(1) {
  background: url('https://res.cloudinary.com/mtree/image/upload/q_auto:eco,f_auto,dpr_auto/Downy-kr-kr/7edUwAoZnnSBWjkjqaGMWB/4cae7e585471a20f67f0e748e8b84215/bg-main-tab1-min.jpg')no-repeat;
  width: 100%;
  height: 550px;
  padding: 20px 30px;
  text-align: center;
}

.story section> :nth-child(1) button {
  margin-top: 3rem;
  cursor: pointer;
}

.story section> :nth-child(1) button a {
  color: #fff;
}

.story img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 340px;
}

.story section> :nth-child(2) {
  display: none;
}

.story-pd {
  padding: 3rem 0;
}

.story-pd section {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 1rem auto;
  text-align: center;
}

.story-pd section div {
  width: 100%;
  margin: 0 1rem;
  cursor: pointer;
}

.story-pd img {
  width: 60px;
  margin: 0 1rem;
  cursor: pointer;
}

.story-pd section> :nth-child(4) img {
  width: 56px;
}

.story-pd section p {
  color: #444;
  font-size: 0.9rem;
  padding: 1rem 0;
}

.story-pd> :last-child p {
  text-align: center;
  color: #666;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding-top: 3rem;
  margin: 0 30px;
}

.downy-point {
  background: #f9f9fa;
  padding: 1rem 0;
}

.downy-point section {
  text-align: center;
  margin: 2rem 0;
}

.downy-point section div {
  margin-top: 0.5rem;
}

footer {
  padding: 2rem 30px;
  border-top: 2px solid #ddd;
}

footer> :first-child {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

footer> :first-child img {
  cursor: pointer;
}

footer> :first-child div img {
  margin: 0 0.5rem;
}

footer nav ul {
  position: relative;
  padding: 2rem 0;
}

footer nav ul li {
  color: #666;
  cursor: pointer;
  margin: 0.3rem 0;
}

footer p {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

/* labtop start */
@media screen and (min-width: 1000px) {
  header {
    padding: 1rem 80px;
  }

  header nav ul {
    display: flex;
  }

  header nav ul li {
    font-size: 1.1rem;
    line-height: 3.5rem;
    margin: 0 1.5rem;
    padding-bottom: 0.5rem;
    color: #444;
    cursor: pointer;
    transition: 0.1s;
  }

  header nav ul li:hover {
    border-bottom: 3px solid #87ceeb;
  }

  main {
    background-size: cover;
  }

  .product section {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    white-space: normal;
  }

  .product img {
    margin: 0 2rem;
    cursor: pointer;
  }

  .story {
    position: relative;
    margin: 3rem auto;
  }

  .story section {
    display: flex;
    justify-content: space-between;
  }

  .story section> :nth-child(1) {
    background: url('https://res.cloudinary.com/mtree/image/upload/q_auto:eco,f_auto,dpr_auto/Downy-kr-kr/7edUwAoZnnSBWjkjqaGMWB/4cae7e585471a20f67f0e748e8b84215/bg-main-tab1-min.jpg')no-repeat;
    width: 50%;
    height: 550px;
    padding: 30px 50px;
    text-align: left;
  }

  .story section> :nth-child(2) {
    display: block;
    margin-top: 6rem;
    padding: 0 50px;
    text-align: right;
  }

  .story img {
    position: absolute;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .story-pd section {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    white-space: normal;
    margin: 1rem auto;
  }

  .story-pd section img {
    width: 80px;
  }

  .story-pd section> :nth-child(4) img {
    width: 75px;
  }

  .downy-point {
    background: #f9f9fa;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
  }

  .downy-point section {
    display: flex;
  }

  .downy-point section div {
    margin-left: 1rem;
  }

  footer {
    padding: 2rem 80px;
    padding-bottom: 100px;
  }

  footer> :first-child {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
  }

  footer nav ul {
    display: flex;
  }

  footer nav ul li {
    margin: 0 0.2rem;
  }

  footer nav ul li img {
    position: absolute;
    top: 32%;
  }

  footer p {
    text-align: left;
  }
}
